Calculate the vector $\vec{n}$ which is perpendicular to both

$$
\begin{bmatrix} {{ u | map("string") | join("\\\\") }} \end{bmatrix}
\quad \text{and} \quad
\begin{bmatrix} {{ v | map("string") | join("\\\\") }} \end{bmatrix}
$$

Give the sum of the components of $\vec{n}$