The vectors $\vec{u}$ and $\vec{v}$ have magnitudes

$$
|\vec{u}| = {{ u }} \quad |\vec{v}| = {{ v }}
$$

and the angle between them satisfies

$$
\cos \theta = {{ t }}
$$

Find the dot product

$$
\vec{u} \cdot \vec{v}
$$