Let

$$
\vec{u} = \begin{bmatrix} {{ u | map('string') | join(" \\\\ ") }} \end{bmatrix}
\quad
\vec{v} = \begin{bmatrix} {{ v | map('string') | join(" \\\\ ") }} \end{bmatrix}
$$

Find the difference between the largest and smallest components of

$$
\vec{u} \odot \vec{v}
$$