Let

$$
\vec{ {{ _u }} } = {{ sp.latex(sp.Matrix(u)) }} \qquad \vec{ {{ _v }} } = {{ sp.latex(sp.Matrix(v)) }}
$$

Find the projection of $\vec{ {{ _v }} }$ onto $\vec{ {{ _u }} }$.

Multiply all the components together and give your answer below.