We have

$$
\begin{aligned}
C
& = {{utils.as_coeff(k)}}A {{utils.sgn_symbol(l)}} {{utils.abs(l)}}B \\
& = {{ sp.latex(k * A) }} + {{ sp.latex(l * B) }} \\
& = {{ sp.latex(C) }}
\end{aligned}
$$

so the answer is ${{ answer }}$