Let

$$
\vec{u} = \begin{bmatrix} {{ u | map('string') | join(" \\\\ ") }} \end{bmatrix}
\quad
\vec{v} = \begin{bmatrix} {{ v | map('string') | join(" \\\\ ") }} \end{bmatrix}
$$

Multiply together the components of

$$
\vec{u} + \vec{v}
$$