Given that

$$
\vec{ {{_v}} } = \begin{bmatrix} {{ v | map('string') | join('\\\\') }} \end{bmatrix}
$$

find the {{ kth }} component of $\hat{ {{ _v }} }$, giving your answer to $3$ significant figures.