Calculate the cosine similarity for

$$
\begin{bmatrix} {{ u | map("string") | join("\\\\") }} \end{bmatrix}
\quad \text{ and } \quad
\begin{bmatrix} {{ v | map("string") | join("\\\\") }} \end{bmatrix}
$$

Give your answer to $3$ significant figures.