We need to find

$$
\frac{\vec{u} \cdot \vec{v}}{|\vec{u}||\vec{v}|}
$$

We get

$$
\begin{aligned}
& \frac{ {{ uv_str }} }{\sqrt{ {{ u_sq_sum_list }} } \sqrt{ {{ v_sq_sum_list }} }} \\
= & \frac{ {{ dot }} }{ \sqrt{ {{ u_sq_sum }} } \sqrt{ {{ v_sq_sum }} } } \\
= & {{ answer }} \text{ (3 s.f.)}
\end{aligned}
$$