We find the entry in row ${{r1 + 1}}$ and column ${{c1 + 1}}$,
then multiply it with the entry in row ${{r2 + 1}}$ and column ${{c2 + 1}}$:

$$
\begin{aligned}
{{A}}_{ {{r1+1}}{{c1+1}} }{{A}}_{ {{r2+1}}{{c2+1}} }
&= ({{ M[r1, c1] }})({{ M[r2, c2] }}) \\
& = {{ answer }}
\end{aligned}
$$