First, we simplify:
$$
\begin{aligned}
\sqrt{ {{a * c}} } & = {{ sp.latex(sp.sqrt(a * c)) }} \\
\sqrt{ {{b * c}} } & = {{ sp.latex(sp.sqrt(b * c)) }}
\end{aligned}
$$

so our answer is

$$
{{ sp.latex(sp.sqrt(a * c) + sp.sqrt(b * c)) }}
$$