Let

$$
\vec{u} = \begin{bmatrix} {{u | map("string") | join("\\\\")}} \end{bmatrix}

\quad

\vec{v} = \begin{bmatrix} {{v | map("string") | join("\\\\")}} \end{bmatrix}
$$

Find

$$
|\vec{v} - \vec{u}|
$$
