Calculate the geometric area of the parallelogram spanned by

$$
\begin{bmatrix} {{ u | map("string") | join("\\\\") }} \end{bmatrix}
\quad \text{and} \quad
\begin{bmatrix} {{ v | map("string") | join("\\\\") }} \end{bmatrix}
$$
