Using the cross product,

$$
\begin{aligned}
|\vec{u} \times \vec{v}| 
& = |u_1 v_2 - v_1 u_2| \\
& = |({{ u[0] }})({{ v[1] }}) - ({{ v[0] }})({{ u[1] }})| \\
& = |{{ uv }}| \\
& = {{ answer }}
\end{aligned}
$$